.root {
	display: flex;
	padding-top: 16px;
}

.content {
	flex-grow: 1;
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	margin: 0;
	margin-bottom: 16px;
}

.descripion {
	color: #00000080;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 14px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.descripion > p {
	margin: 0;
}

.price {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
}

.countInput {
	display: flex;
	align-items: center;
}
.countInput_bottom {
	align-items: flex-end;
}