.main {
	background-color: #E9E9E9;
	flex-grow: 1;
	padding: 51px 40px 0 40px;
	display: grid;
	grid-template-columns: 300px auto;
	gap: 20px;
	box-sizing: border-box;
	max-height: calc(100% - 67px);
}

.panel {
	padding-top: 8px;
	margin-bottom: 55px;
}


@media screen and (max-width: 800px) {
	.main {
		padding: 25px 20px 0 20px;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		max-height: fit-content;
	}
	.panel {
		margin-bottom: 24px;
	}
}
