.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.price {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	flex-shrink: 0;
	margin-left: 6px;
}