* {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
:root {
	--c-input: #FFC93D;
	--page-max-width: 900px
}

html {
	height: 100%;
}
body, .main {
	height: 100%;
	width: 100%;
}

.link {
	text-decoration: none;
	text-decoration-skip-ink: none;
	color: #0a61ba;
}
.link:hover {
	text-decoration: underline;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 2em;
	font-size: 0.8rem;
}
.footer__nav {
	width: 100%;
	max-width: var(--page-max-width);
}
.footer__link {
	margin-right: 1em;
	color: gray;
}


.page-404 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-404__content {
	width: 100%;
	max-width: var(--page-max-width);
	display: flex;
	gap: 1em;
}
@media (max-width: 700px) {
	.page-404__content {
		flex-direction: column;
	}
	.page-404__header {
		align-self: center;
	}
}

.page-404__header {
	width: 110px;
	padding-top: 0.7em;
	margin-left: 0.2em;
}
.header__img {
	width: 100%;
}
.page-404__article {
	flex-grow: 1;
	padding: 0.5em;
}
.article__section {
	margin-bottom: 2em;
}

.article__search {
	display: flex;
	font-size: 1.15rem;
	height: 2.5em;
}
.search__input {
	position: relative;
	font-size: inherit;
	flex-grow: 1;
	min-width: 10em;
	padding: 0 0.5em;
	border: 2px solid var(--c-input);
	border-radius: 0.5em 0.3em 0.3em 0.5em;
}
.search__button {
	font-size: inherit;
	background-color: var(--c-input);
	border: 2px solid var(--c-input);
	border-radius:  0 0.5em 0.5em 0;
	padding: 0.5em 1em;
	margin-left: -0.3em;
}
.input__button:hover {
	text-decoration: underline;
}
.input__button:active {
	text-decoration: none;
}

.article__h1 {
	font-size: 1.5rem;
	font-weight: 400;
}
.article__p {
	font-size: 0.95rem;
	margin-top: 0.5em;
}

.article__links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0;
	font-size: 0.95rem;
}
@media (max-width: 580px) {
	.article__links {
		grid-template-columns: 1fr;
	}
}
.links__item {
	list-style: none;
	padding: 0.4em 0;
}
.links__icon {
	width: 1em;
	display: inline-block;
}
.icon__img {
	width: 100%;
}